.erreur-img{
    display:flex;
    flex-direction: column;
    justify-content: center; 
    margin-top: 200px;
    width: 350px;
}

.img-notfound{
    width: 100%;
    height: auto;
    margin:auto;
}


.returnlink{
    display:flex;
    justify-content: center;
    margin-top:150px;
    text-decoration: underline;
    color: #FF6060;

}

@media (min-width: 1200px) {


  .erreur-img{
    margin:auto;
    margin-top: 50px;
    width: 450px;
}



}